*{
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

body{
    width: 1000px;
    height: 800px;
    margin: auto;
    background-color: darkkhaki;
}

header{
    width: 1000px;
    height: 200px;
    background-color: brown;
}

nav{
    width: 1000px;
    height: 50px;
    background-color: yellowgreen;
}

main{
    width: 1000px;
    height: 500px;
    background-color: white;
}

footer{
    width: 1000px;
    height: 50px;
    background-color: orangered;
}

#banner{
    width: 800px;
    height: 200px;
    float: left;
    background-color: blue;
}

#logo{
    width: 200px;
    height: 200px;
    float: left;
    background-color: magenta;
}

article{
    width: 700px;
    height: 500px;
    float: left;
    background-color: firebrick;
}

aside{
    width: 300px;
    height: 500px;
    float: left;
    background-color: salmon;
}